.logo {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 8px;
}
.round{
 border-radius: 30px;
 margin: 10px;
}
.p{
font-size: 15px;
font-weight: 300;
}
.container1 {
  max-width: 1300px;
  min-width: 320px;
  padding: 60px 60px 60px 60px;
  margin: 0 auto;
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  left: 0;
  top: 0;
}

/* Settings - feel free to play with these */
body {
  font-family: gotham;
  font-weight: 500;
}

.tabs .indicator {
  background-color: white;
}

.tabs .tab a:focus.active {
  background-color: black;
}

.card-reveal {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

div.card-reveal span.card-title {
  color: #ffffff !important;
}

.tabs {
  background-color: transparent;
}

/* Video overlay and content */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  /* Allows right click menu on the video */
  opacity: 0.3;
}

h2 {
  font-weight: bold;
}

.video-hero--content {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 150px 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.page-width {
  width: 92%;
  max-width: 960px;
  margin: 0 auto;
}

/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jquery-background-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
  opacity: 0;
  transition: opacity 300ms linear;
}

.js .jquery-background-video.is-visible {
  opacity: 1;
}

:root {
  --green-color: #2DA94F;
  --yellow-color: #FDBD00;
  --red-color: #ED412C;
  --blue-color: #3E82F7;
}

@keyframes moveLeftTop {
  25%, 75% {
    transform: translate(-62.5%, -62.5%) scale(0.6);
  }

  50% {
    transform: translate(-125%, -125%);
  }
}

@keyframes moveRightTop {
  25%, 75% {
    transform: translate(62.5%, -62.5%) scale(0.6);
  }

  50% {
    transform: translate(125%, -125%);
  }
}

@keyframes moveLeftBottom {
  25%, 75% {
    transform: translate(-62.5%, 62.5%) scale(0.6);
  }

  50% {
    transform: translate(-125%, 125%);
  }
}

@keyframes moveRightBottom {
  25%, 75% {
    transform: translate(62.5%, 62.5%) scale(0.6);
  }

  50% {
    transform: translate(125%, 125%);
  }
}

.dots {
  position: absolute;
  top: 40vh;
  left: 50vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 80px;
}

.scaler {
  animation: scale 2s infinite ease-out;
}

.dot {
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.dot--green {
  background-color: var(--green-color);
  animation: moveRightBottom 2.5s infinite ease-out;
}

.dot--yellow {
  background-color: var(--yellow-color);
  animation: moveLeftBottom 2.5s infinite ease-out;
}

.dot--red {
  background-color: var(--red-color);
  animation: moveRightTop 2.5s infinite ease-out;
}

.dot--blue {
  background-color: var(--blue-color);
  animation: moveLeftTop 2.5s infinite ease-out;
}
